obj
bin
_ReSharper.*
_dotCover.*
*.csproj.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.cachefile
NucleusContent.contentproj.user
assets
build
!src/CargoJack.Tests/Build
content
!src/CargoJack.Engine/content
*.user
cachefile*.*
src/packages